img.bg{
    min-height: 70%;
    min-width: 1024px;
    width:90%;
    height: auto;
    position: relative;
    float:left;
    background-repeat: no-repeat;
    background-size: cover;
    top:30;
    left:5;
    bottom:20;
    right:5;
}